@mixin spacing($number, $space) {
  &:nth-child(n + #{$number}) {
    .card-wrapper {
      top: $space;
    }
  }
}
.card-wrapper--outer {
  width: 27%;
  padding-top: 27%;
  position: relative;
  // margin-right: 0 6%;
  .card-wrapper {
    background-color: #ffa737;
    clip-path: polygon(50% 0%, 95% 25%, 95% 75%, 50% 100%, 5% 75%, 5% 25%);
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    transition: transform 0.4s;
    z-index: 1;
    cursor: pointer;

    &:hover {
      transform: scale(1.05, 1.05);
      &.has-overlay {
        .card-overlay-wrapper {
          opacity: 1;
        }
        .card {
          opacity: 0;
        }
      }
    }
    .card {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      opacity: 1;
      transition: opacity 0.4s;
      width: 85%;
      p {
        font-size: 1.5rem;
        text-align: center;
        word-break: break-word;
        &:first-child {
          margin-top: 0;
          font-size: 1rem;
        }
      }
    }
    .card-overlay-wrapper {
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      transition: opacity 0.4s;
      opacity: 0;
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.8);
      .card-overlay {
        position: absolute;
        top: 50%;
        left: 50%;
        color: #fff;
        transform: translate(-50%, -50%);
        width: 85%;
      }
    }
  }
  &:nth-child(6n + 4),
  &:nth-child(6n + 5),
  &:nth-child(6n + 6) {
    .card-wrapper {
      top: -15%;
      left: 52%;
    }
  }
  @include spacing(7, -30%);
  @include spacing(10, -45%);
  @include spacing(13, -60%);
  @include spacing(16, -75%);
  @include spacing(19, -90%);
  @include spacing(22, -105%);
  @include spacing(25, -120%);
  @include spacing(28, -135%);
  @include spacing(31, -150%);
  @include spacing(34, -165%);
  @include spacing(37, -180%);
  @include spacing(40, -195%);
  @include spacing(43, -210%);
  @include spacing(46, -225%);

  &:nth-child(3n + 2) {
    margin: 0 1%;
  }
  &:nth-child(2) {
    margin: 0 1%;
  }
}
